body{
    background-image: url('../photo2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    margin: 0;

}
.container{
    background-color: rgba(193, 64, 154, 0.732);
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: rgb(49, 10, 62);
    font-size: 36px;
    margin-bottom: 20px;
    font-style:normal;
}

button {
    background-color: rgba(79, 62, 18, 0.579);
    font-style: normal;
    padding: 10px 20px;
    border: 100vh;
    margin-top: 20px;
    color: rgb(213, 46, 210);
}